@import '../../../styles/variables.scss';


.tool {
  text-transform: uppercase;
  font-weight: 600 !important;
  margin-right: .75rem;
  display: inline-block;
}

.red {
  color: red;
}

.yellow {
  color: #FFC009;
}

.green {
  color: #28A745;
}

.blue {
  color: #01AFFF;
}

.purple {
  color: #7300FF;
}