@import '../../../styles/variables.scss';

.project-link {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: $primary-color-light !important;
  transition: all 0.25s ease-in-out;
  font-weight: 300;
  display: block;
  margin-top: .5rem;
}

.project-link:hover {
  color: $primary-color !important;
  font-weight: 500;
}