@import '../../../styles/variables.scss';

.intro {
  text-align: center;
  padding-top: 7rem;
  margin-bottom: 7rem;
}

.name {
  font-size: 2.2rem;
  line-height: 1.1;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.position {
  color: $primary-color;
}