@import '../../../styles/variables.scss';

.icon-link {
  font-size: 1.5rem;
  color: $accent-color;
  transition: ease-in-out 0.25s;
}

.icon-link:hover {
  color: $primary-color;
  cursor: pointer;
}

.danger:hover {
  color: red;
}