@import '../../../styles/variables.scss';

li {
  display: inline;
  margin-left: .75rem;
  margin-right: .75rem;
}

.social-link {
  font-size: 2rem;
  color: $accent-color;
  transition: ease-in-out 0.25s;
}

.social-link:hover {
  color: $primary-color;
}

a {
  padding: 0 !important;
}
