@import '../../../styles/variables.scss';

.page-heading {
  color: $primary-color;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300 !important;
}

.project-ruler {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  color: $accent-color-dark !important;
  width: 20rem;
  margin: auto !important;
}