@import '../../../styles/variables.scss';

.heading {
  margin-bottom: 60px;
}

.heading:before {
  content: "";
  height: 10px;
  width: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  background: $primary-color;
}

.row {
  margin-top: 2rem !important;
}