@import '../../../styles/variables.scss';
p {
  font-weight: 300 !important;
}

h3 {
  font-size: 1.8rem;
  font-weight: 300 !important;
}

h4 {
  font-weight: 300 !important;
}

h5 {
  font-weight: 300 !important;
}

h6 {
  color: $accent-color;
  font-weight: 300 !important;
}