@import '../../../styles/variables.scss';

footer {
  position: fixed;
  width: 100%;
  background-color: white;
  bottom: 0;
  padding: 1rem;
  text-align: center;
  z-index: 1000;
}

.nav-link {
  text-decoration: none !important;
  color: $accent-color !important;
  transition: all 0.25s ease-in-out;
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
  display: inline !important;
}

.nav-link:hover {
  color: $primary-color !important;
  font-weight: bold;
}

.active {
  color: $primary-color !important;
  font-weight: bold;
}

small {
  font-size: 80%;
  font-weight: 400;
  color: $accent-color;
}